.header {
  padding: 8px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-part:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-btn {
  width: 48px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  transition: 0.2s ease;
}

.home-btn svg {
  font-size: 24px;
  color: var(--text);
}

.home-btn:hover {
  border: 1px solid var(--border);
  background: var(--secondary-color-hover);
}

.search {
  position: relative;
}

.search-input {
  width: 474px;
  padding: 0 24px 0 48px;
  height: 48px;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 24px;
  color: var(--light);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.45px;
  transition: 0.2s ease;
}

.search-input:hover {
  border: 1px solid var(--border);
  background: var(--secondary-color-hover);
}

.search-input:focus {
  outline: 2px solid var(--light);
}

.search-input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: var(--text);
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 24px;
  color: var(--text);
}
